@font-face {
  font-family: "ROG";
  src: local("ROG"), url("./material/batmfa__.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ROG";
  background: rgb(26, 13, 22);
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.left {
  background-color: rgb(69, 29, 52);
  height: 100%;
  width: 50%;
  -webkit-clip-path: polygon(0 0, 100% 0%, 50% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0%, 50% 100%, 0 100%);
  color: rgb(235, 91, 177);
}

.logo {
  padding: 10%;
  -webkit-clip-path: polygon(0 0, 75% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 75% 0, 100% 100%, 0 100%);
  font-size: 3.5em;
  color: rgb(220, 33, 170);
  background-color: rgb(102, 41, 77);
}

.right {
  position: relative;
  background: rgb(26, 24, 25);
  height: 100%;
  width: 80%;
  -webkit-clip-path: polygon(35% 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(35% 0, 100% 0, 100% 100%, 0% 100%);
}

.color-block {
  position: absolute;
  width: 0%;
  height: 100vh;
  -webkit-clip-path: polygon(0 0, 70% 0, 100% 100%, 30% 100%);
          clip-path: polygon(0 0, 70% 0, 100% 100%, 30% 100%);
  background: rgb(237, 61, 185);
  animation: to-right 3.5s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
}

@keyframes to-right {
  0% {
    left: 0;
    width: 0%;
  }
  50% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 0;
  }
}
.color-block2 {
  position: absolute;
  width: 0%;
  height: 100vh;
  -webkit-clip-path: polygon(30% 0, 100% 0%, 70% 100%, 0% 100%);
          clip-path: polygon(30% 0, 100% 0%, 70% 100%, 0% 100%);
  background: rgb(87, 219, 255);
  animation: to-right 3.7s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
}

@keyframes to-right {
  0% {
    left: 0;
    width: 0%;
  }
  30% {
    left: 30;
    width: 70%;
  }
  100% {
    left: 100%;
    width: 0;
  }
}
.color-block3 {
  position: absolute;
  width: 0%;
  height: 100vh;
  -webkit-clip-path: polygon(0 0, 50% 0, 100% 100%, 50% 100%);
          clip-path: polygon(0 0, 50% 0, 100% 100%, 50% 100%);
  background: rgb(203, 22, 149);
  animation: to-right 4s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
}

@keyframes to-right {
  0% {
    left: 0;
    width: 0%;
  }
  70% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 0;
  }
}
.info {
  display: block;
  margin-top: 20%;
  height: 20%;
  margin-left: 30%;
  margin-right: 10%;
  font-size: 5em;
  color: rgb(195, 94, 154);
  background: transparent;
  transition: 0.5s;
  text-decoration: none;
}

.info:hover {
  transition: 0.5s;
  color: rgb(255, 55, 172);
  text-decoration: none;
  text-shadow: 0px 0px 8px rgb(250, 146, 206);
}

.picsd {
  position: absolute;
  top: 25vh;
  left: 15vw;
  height: 59vh;
  width: 27vw;
  animation: neon 2s ease-in-out infinite;
}
@keyframes neon {
  0%, 100% {
    box-shadow: 0 0 5px rgb(250, 146, 206), 0 0 10px rgb(250, 146, 206), 0 0 2px rgb(250, 146, 206);
  }
  50% {
    box-shadow: 0 0 10px rgb(250, 146, 206), 0 0 15px rgb(250, 146, 206), 0 0 5px rgb(250, 146, 206);
  }
}

.pic {
  position: absolute;
  top: 25vh;
  left: 15vw;
  height: 60vh;
  width: 40vw;
  -webkit-clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
  background: url(./material/Cyberpunk\ 2077\ Screenshot\ 2.png) center;
  background-size: cover;
}/*# sourceMappingURL=home.css.map */