@font-face {
  font-family: "ROG";
  src: local("ROG"), url("../material/batmfo__.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ROG";
  background: rgb(32, 32, 32);
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.left {
  background-color: rgb(69, 29, 52);
  height: 100%;
  width: 50%;
  color: rgb(235, 91, 177);

  //   border: white solid 1px;
}

.logo {
  padding: 10%;
  font-size: 3.5em;
  color: rgb(255, 28, 187);

  // border: white solid 1px;
}

.right {
  position: relative;
  background: rgb(26, 24, 25);
  height: 100%;
  width: 70%;

  // border: white solid 1px;
}

.color-block {
  position: absolute;
  width: 0%;
  height: 100vh;
  background: rgb(136, 29, 104);
  animation: to-right 4s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
}

@keyframes to-right {
  0% {
    left: 0;
    width: 0%;
  }
  50% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 0;
  }
}

.info {
  display: block;
  margin-top: 20%;
  height: 20%;
  margin-left: 30%;
  margin-right: 10%;
  font-size: 5em;
  color: rgb(219, 106, 174);
  background: rgb(26, 24, 25);
  transition: 0.5s;
  text-decoration: none;

  // border: white solid 1px;
}

.info:hover {
  transition: 0.5s;
  color: rgb(239, 177, 213);
  text-decoration: none;
}

.pic {
  position: absolute;
  top: 25vh;
  left: 15vw;
  height: 60vh;
  width: 40vw;
  background: url(./material/2.jpg);
  background-size: cover;
  box-shadow: 7px 29px 49px 0px rgba(0, 0, 0, 0.3);
}
