@font-face {
  font-family: "ROG";
  src: local("ROG"), url("/material/batmfo__.woff") format("woff");
}
@font-face {
    font-family: "cubic";
    src: local("cubic"), url("../material/Cubic_11_1.100_R.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: "ROG";

  background: rgb(32, 32, 32);
  color: white;
}
.header {
  font-family: "ROG";

  width: 100%;
  height: 10vh;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 2em;
  display: flex;
  border: white 1px solid;
}
.headerLink :hover {
  color: aqua;
}
