@font-face {
  font-family: "ROG";
  src: local("ROG"), url("../material/batmfa__.woff") format("woff");
}
@font-face {
  font-family: "cubic";
  src: local("cubic"), url("../material/Cubic_11_1.100_R.woff") format("woff");
}

///////////////////////////
::-webkit-scrollbar {
  width: 15px;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background: #600043;
}
::-webkit-scrollbar-thumb {
  background: rgb(205, 59, 190);
  box-shadow: inset 0 0 5px 1px #4b0135;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(240, 27, 219);
  box-shadow: inset 0 0 5px 1px #4b0135;
}
///////////////////////////

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: "ROG";

  background:  rgb(26, 13, 22);
  color: white;
}
.header {
  font-family: "ROG";
  width: 100%;
  height: 10vh;
  padding-left: 3%;
  font-size: 2em;
  display: flex;
  
  // border: white 1px solid;
}
.nav-item :hover {
  transition: 0.5s;
  color: rgb(255, 55, 172);
  text-decoration: none;
  text-shadow: 0px 0px 8px rgb(250, 146, 206);
}

.bgImg {
  width: 100%;
  height: 90vh;
  background: url(../material/code.png) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}
.title{
  width: 100%;
  height: 10%;
  padding: 3%;
  margin-top: 30%;
  // border: white 1px solid;
  font-size: 5em;
  font-family: "cubic";

  background-color: transparent;
}
.main {
  width: 100%;
  height: auto;
  margin-top: 4%;
  padding: 3%;
  font-family: "cubic";
  // border:red 1px solid;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.proj{
  width: 40%;
  height: 40vh;
  margin-top: 5%;
  // border:blue 1px solid;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: end;
  animation: neon 2s ease-in-out infinite;
      @keyframes neon {
        0%,
        100% {
          box-shadow: 0 0 5px rgb(69, 174, 255), 0 0 10px rgb(69, 174, 255),
            0 0 2px rgb(69, 174, 255);
        }
        50% {
          box-shadow: 0 0 10px rgb(69, 174, 255), 0 0 15px rgb(69, 174, 255),
            0 0 5px rgb(69, 174, 255);
        }
      }
  p{
    color: rgb(175, 173, 173);
    text-shadow: 1px 1px 1px black;
    font-size: 1.5em;
    text-decoration: none;
  }
}
.proj:hover{
  opacity: 0.5;
  p{
    opacity: 1;
    color: rgb(255, 255, 255);
  }
}
.prac1{
  background: url(../material/HTMLPractice.png) left;
  background-size: cover;
}
.prac2{
  background: url(../material/HTMLPractice2.png) left;
  background-size: cover;
}
.prac3{
  background: url(../material/GuessNumber.png) center;
  background-size: cover;
}
.prac4{
  background: url(../material/Prime.png) center;
  background-size: cover;
}
.prac5{
  background: url(../material/kagamiWeb.png) center;
  background-size: cover;
}
.prac6{
  background: url(../material/Tainan.png) center;
  background-size: cover;
}