@font-face {
  font-family: "ROG";
  src: local("ROG"), url("/material/batmfo__.woff") format("woff");
}
@font-face {
  font-family: "cubic";
  src: local("cubic"), url("../material/Cubic_11_1.100_R.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: "ROG";

  background: rgb(32, 32, 32);
  color: white;
}
.header {
  font-family: "ROG";
  width: 100%;
  height: 10vh;
  padding: 1%;
  padding-left: 3%;
  font-size: 3em;
  display: flex;
  // border: white 1px solid;
}
// .headerLink :hover {
//   color: aqua;
// }

.bgImg {
  width: 100%;
  height: 90vh;
  background: url(/material/code.png) center;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}
.title{
  width: 100%;
  height: 10%;
  padding: 3%;
  margin-top: 30%;
  // border: white 1px solid;
  font-size: 5em;
  font-family: "cubic";

  background-color: transparent;
}
.main {
  width: 100%;
  height: 90vh;
  margin-top: 3%;
  padding: 3%;
  font-family: "cubic";
  // border:red 1px solid;
  
  // position: relative;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}
.proj{
  width: 40%;
  height: 40%;
  border:blue 1px solid;
}
